# Dependencies
node_modules/
frontend/node_modules/

# Production Build Output
dist/
frontend/dist/

# Environment variables
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local

# File Uploads & Local Storage
uploads/*
!uploads/.gitkeep

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Coverage
coverage/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
